// _assets.scss
// here you will project assets as variables

// iPhone 1x
$iphone_arrow_left: url(../img/iPhone/ArrowLeft.png);
$iphone_arrow_right: url(../img/iPhone/ArrowRight.png);
$iphone_client_icon: url(../img/iPhone/Client_Icon.png);
$iphone_design_comps: url(../img/iPhone/DesignComps.png);
$iphone_final_graphics: url(../img/iPhone/FinalGraphics.png);
$iphone_lp_g: url(../img/iPhone/LP_Graphic.png);
$iphone_menu: url(../img/iPhone/Menu.png);
$iphone_orange_x: url(../img/iPhone/OrangeX.png);
$iphone_pk_logo: url(../img/iPhone/PKLogo.png);
$iphone_proj_specs: url(../img/iPhone/ProjectSpecs.png);
$iphone_scroll_arrow: url(../img/iPhone/Scroll_Arrow.png);
$iphone_sol_arch: url(../img/iPhone/SolutionArchitecture.png);
$iphone_pix_perf: url(../img/iPhone/UIPixelPerfection.png);
$iphone_user_exp: url(../img/iPhone/UserExperience.png);
$iphone_user_stories: url(../img/iPhone/UserStories.png);
$iphone_venn_diag: url(../img/iPhone/VennDiagram.png);
$iphone_white_x: url(../img/iPhone/WhiteX.png);
$iphone_test: url(../img/iPhone/LP_GraphicTest.png);
//ourwork
$iphone_kp1: url(../img/iPhone/ourWork/KP_PopUp_1.png);
$iphone_kp2: url(../img/iPhone/ourWork/KP_PopUp_2.png);
$iphone_kp_watch: url(../img/iPhone/ourWork/KP_Watch.png);

// iPhone 2x
$iphone_arrow_left2x: url(../img/iPhone/ArrowLeft@2x.png);
$iphone_arrow_right2x: url(../img/iPhone/ArrowRight@2x.png);
$iphone_client_icon2x: url(../img/iPhone/Client_Icon@2x.png);
$iphone_design_comps2x: url(../img/iPhone/DesignComps@2x.png);
$iphone_final_graphics2x: url(../img/iPhone/FinalGraphics@2x.png);
$iphone_lp_g2x: url(../img/iPhone/LP_Graphic@2x.png);
$iphone_menu2x: url(../img/iPhone/Menu@2x.png);
$iphone_orange_x2x: url(../img/iPhone/OrangeX@2x.png);
$iphone_pk_logo2x: url(../img/iPhone/PKLogo@2x.png);
$iphone_proj_specs2x: url(../img/iPhone/ProjectSpecs@2x.png);
$iphone_scroll_arrow2x: url(../img/iPhone/Scroll_Arrow@2x.png);
$iphone_sol_arch2x: url(../img/iPhone/SolutionArchitecture@2x.png);
$iphone_pix_perf2x: url(../img/iPhone/UIPixelPerfection@2x.png);
$iphone_user_exp2x: url(../img/iPhone/UserExperience@2x.png);
$iphone_user_stories2x: url(../img/iPhone/UserStories@2x.png);
$iphone_venn_diag2x: url(../img/iPhone/VennDiagram@2x.png);
$iphone_white_x2x: url(../img/iPhone/WhiteX@2x.png);
$iphone_test2x: url(../img/iPhone/LP_GraphicTest@2x.png);

//iPad
$iPad_arrow_left: url(../img/iPad/ArrowLeft.png);
$iPad_arrow_right: url(../img/iPad/ArrowRight.png);
$iPad_client_icon: url(../img/iPad/Client_Icon.png);
$iPad_design_comps: url(../img/iPad/DesignComps.png);
$iPad_final_graphics: url(../img/iPad/FinalGraphics.png);
$iPad_port_lp_g: url(../img/iPad/LP_Graphic_Portrait.png);
$iPad_land_lp_g: url(../img/iPad/LP_Graphic_Landscape.png);
$iPad_menu: url(../img/iPad/Menu.png);
$iPad_orange_x: url(../img/iPad/OrangeX.png);
$iPad_pk_logo: url(../img/iPad/PKLogo.png);
$iPad_proj_specs: url(../img/iPad/ProjectSpecs.png);
$iPad_scroll_arrow: url(../img/iPad/Scroll_Arrow.png);
$iPad_sol_arch: url(../img/iPad/SolutionArchitecture.png);
$iPad_pix_perf: url(../img/iPad/UIPixelPerfection.png);
$iPad_user_exp: url(../img/iPad/UserExperience.png);
$iPad_user_stories: url(../img/iPad/UserStories.png);
$iPad_venn_diag: url(../img/iPad/VennDiagram.png);
$iPad_white_x: url(../img/iPad/WhiteX.png);
$iPad_test: url(../img/iPad/LP_GraphicTest.png);

// iPad 2x
$iPad_arrow_left2x: url(../img/iPad/ArrowLeft@2x.png);
$iPad_arrow_right2x: url(../img/iPad/ArrowRight@2x.png);
$iPad_client_icon2x: url(../img/iPad/Client_Icon@2x.png);
$iPad_design_comps2x: url(../img/iPad/DesignComps@2x.png);
$iPad_final_graphics2x: url(../img/iPad/FinalGraphics@2x.png);
$iPad_port_lp_g2x: url(../img/iPad/LP_Graphic_Portrait@2x.png);
$iPad_land_lp_g2x: url(../img/iPad/LP_Graphic_Landscape@2x.png);
$iPad_menu2x: url(../img/iPad/Menu@2x.png);
$iPad_orange_x2x: url(../img/iPad/OrangeX@2x.png);
$iPad_pk_logo2x: url(../img/iPad/PKLogo@2x.png);
$iPad_proj_specs2x: url(../img/iPad/ProjectSpecs@2x.png);
$iPad_scroll_arrow2x: url(../img/iPad/Scroll_Arrow@2x.png);
$iPad_sol_arch2x: url(../img/iPad/SolutionArchitecture@2x.png);
$iPad_pix_perf2x: url(../img/iPad/UIPixelPerfection@2x.png);
$iPad_user_exp2x: url(../img/iPad/UserExperience@2x.png);
$iPad_user_stories2x: url(../img/iPad/UserStories@2x.png);
$iPad_venn_diag2x: url(../img/iPad/VennDiagram@2x.png);
$iPad_white_x2x: url(../img/iPad/WhiteX@2x.png);
$iPad_test2x: url(../img/iPad/LP_GraphicTest@2x.png);

// Web
$Web_arrow_left: url(../img/Web/ArrowLeft.png);
$Web_arrow_right: url(../img/Web/ArrowRight.png);
$Web_client_icon: url(../img/Web/Client_Icon.png);
$Web_design_comps: url(../img/Web/DesignComps.png);
$Web_final_graphics: url(../img/Web/FinalGraphics.png);
$Web_lp_g: url(../img/Web/LP_Graphic.png);
$Web_menu: url(../img/Web/Menu.png);
$Web_orange_x: url(../img/Web/OrangeX.png);
$Web_pk_logo: url(../img/Web/PKLogo.png);
$Web_proj_specs: url(../img/Web/ProjectSpecs.png);
$Web_scroll_arrow: url(../img/Web/Scroll_Arrow.png);
$Web_sol_arch: url(../img/Web/SolutionArchitecture.png);
$Web_pix_perf: url(../img/Web/UIPixelPerfection.png);
$Web_user_exp: url(../img/Web/UserExperience.png);
$Web_user_stories: url(../img/Web/UserStories.png);
$Web_venn_diag: url(../img/Web/VennDiagram.png);
$Web_white_x: url(../img/Web/WhiteX.png);
$Web_test: url(../img/Web/LP_GraphicTest.png);
$Web_ux_back: url(../img/Web/UX_Background.png);

// Our Work
$KP_Watch: url(../img/KP_Watch.png);
$KP_Pop_1: url(../img/KP_PopUp_1.png);
$KP_Pop_2: url(../img/KP_PopUp_2.png);
