// _assets.scss
// here you will project assets as variables

// iPhone 1x
$iphone_arrow_left: url(./img/iPhone/ArrowLeft.png);
$iphone_arrow_right: url(./img/iPhone/ArrowRight.png);
$iphone_client_icon: url(./img/iPhone/Client_Icon.png);
$iphone_design_comps: url(./img/iPhone/DesignComps.png);
$iphone_final_graphics: url(./img/iPhone/FinalGraphics.png);
$iphone_lp_g: url(./img/iPhone/LP_Graphic.png);
$iphone_menu: url(./img/iPhone/Menu.png);
$iphone_orange_x: url(./img/iPhone/OrangeX.png);
$iphone_pk_logo: url(./img/iPhone/PKLogo.png);
$iphone_proj_specs: url(./img/iPhone/ProjectSpecs.png);
$iphone_scroll_arrow: url(./img/iPhone/Scroll_Arrow.png);
$iphone_sol_arch: url(./img/iPhone/SolutionArchitecture.png);
$iphone_pix_perf: url(./img/iPhone/UIPixelPerfection.png);
$iphone_user_exp: url(./img/iPhone/UserExperience.png);
$ihpone_user_stories: url(./img/iPhone/UserStories.png);
$iphone_venn_diag: url(./img/iPhone/VennDiagram.png);
$iphone_white_x: url(./img/iPhone/WhiteX.png);

// iPhone 2x
$iphone_arrow_left2x: url(./img/iPhone/ArrowLeft@2x.png);
$iphone_arrow_right2x: url(./img/iPhone/ArrowRight@2x.png);
$iphone_client_icon2x: url(./img/iPhone/Client_Icon@2x.png);
$iphone_design_comps2x: url(./img/iPhone/DesignComps@2x.png);
$iphone_final_graphics2x: url(./img/iPhone/FinalGraphics@2x.png);
$iphone_lp_g2x: url(./img/iPhone/LP_Graphic@2x.png);
$iphone_menu2x: url(./img/iPhone/Menu@2x.png);
$iphone_orange_x2x: url(./img/iPhone/OrangeX@2x.png);
$iphone_pk_logo2x: url(./img/iPhone/PKLogo@2x.png);
$iphone_proj_specs2x: url(./img/iPhone/ProjectSpecs.png@2x);
$iphone_scroll_arrow2x: url(./img/iPhone/Scroll_Arrow@2x.png);
$iphone_sol_arch2x: url(./img/iPhone/SolutionArchitecture@2x.png);
$iphone_pix_perf2x: url(./img/iPhone/UIPixelPerfection@2x.png);
$iphone_user_exp2x: url(./img/iPhone/UserExperience@2x.png);
$ihpone_user_stories2x: url(./img/iPhone/UserStories@2x.png);
$iphone_venn_diag2x: url(./img/iPhone/VennDiagram@2x.png);
$iphone_white_x2x: url(./img/iPhone/WhiteX@2x.png);
