.sample-animation {
  -webkit-animation: sample 5s ease-in-out forward;
  /* Safari 4+ */
  -moz-animation: sample 5s ease-in-out forward;
  /* Fx 5+ */
  -o-animation: sample 5s ease-in-out forward;
  /* Opera 12+ */
  animation: sample 5s ease-in-out forward;
  /* IE 10+, Fx 29+ */ }

body {
  width: 100%;
  margin: 0 auto; }

.mainContainer {
  width: 100%;
  overflow: hidden;
  margin: 0 auto; }

nav {
  background-color: #ffffff;
  font-size: 24px;
  font-color: #a0a2a3;
  font-style: Helvetica Neue;
  height: 65px;
  vertical-align: middle; }
  nav .img {
    display: inline-block;
    vertical-align: middle; }
  nav .logo {
    margin-left: 16px;
    max-height: 46px; }
  nav .menu {
    max-height: 21px;
    margin-right: 16px;
    float: right; }

.page1 {
  background-color: #f9941f;
  width: 100%; }
  .page1 h1 {
    font-size: 25px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    font-stretch: condensed;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-left: 16px;
    width: 275px;
    margin-bottom: 0px; }
  .page1 h2 {
    font-size: 25px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    font-stretch: condensed;
    color: #ffffff;
    margin-left: 16px;
    margin-top: 0px; }
  .page1 .arrow {
    display: block;
    width: 19px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px; }

.page2 {
  background-color: grey; }

.page2 h1 {
  display: block-inline;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #ffffff;
  margin-left: 100px;
  width: 50px;
  float: left;
  border-right: 1px solid; }
.page2 h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #ffffff;
  padding: 0;
  margin-left: 150px;
  margin-top: 0px;
  width: 150px;
  height: 50px; }
.page2 .svg {
  display: inline-block;
  width: 150px;
  height: 150px; }

.lp_graphic {
  background: url(./img/iPhone/LP_Graphic.png) 100% 100%;
  height: 365px;
  width: 295px; }

/* iPhone Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .supported_orientation {
    display: none; }

  .lp_graphic {
    background: url(./img/iPhone/LP_Graphic@2x.png) 100% 100%;
    background-size: 100%;
    height: 365px;
    width: 295px; } }
/* iPhone Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .supported_orientation {
    display: block; } }
/* iPad Portrait */
/* iPad Landscape */
/* ----------- Desktop Non-Retina Screens ----------- */
/* ----------- Desktop Retina Screens ----------- */

/*# sourceMappingURL=style.css.map */
