// Global css written in sass.
// from cmd line run from css directory
// sass --watch style.scss:style.css
//
// or for manual compliles
// sass style.scss style.css

@import 'assets';

// SCSS variables
$font-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-hncb: "HelveticaNeue-CondensedBold";
$white: #ffffff;
$orange: #f9941f;

@mixin animation($name, $duration, $timing, $direction) {
  -webkit-animation: $name $duration $timing $direction; /* Safari 4+ */
  -moz-animation:    $name $duration $timing $direction; /* Fx 5+ */
  -o-animation:      $name $duration $timing $direction; /* Opera 12+ */
  animation:         $name $duration $timing $direction; /* IE 10+, Fx 29+ */
}
.sample-animation {
  @include animation(sample, 5s, ease-in-out, forward);
}

body{
	width: 100%;
	margin: 0 auto;
}
.mainContainer {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}

h1, h2, p{
	font-family: $font-stack;
}

nav {
	background-color: $white;
	font-size: 24px;
	font-color: #a0a2a3;
	font-style: Helvetica Neue;
	height: 65px;
	vertical-align: middle;

  .img {
  	display: inline-block;
  	vertical-align: middle;
  }
  .logo {
  	margin-left: 16px;
  	max-height: 46px;
    background: $iphone_pk_logo;
    background-size: 100%;
    width:46px;
    height:46px;
    display:inline-block;
    margin-top:10px;
  }
  .menu{
  	max-height: 21px;
  	margin-right: 16px;
  	float: right;
    background: $iphone_menu;
    background-size:100%;
    width:28px;
    height:21px;
    display:inline-block;
    margin-top:22px;
  }

}
.page1 {
	background-color: $orange;
	width: 100%;

   h1{
  	font-size: 25px;
  	font-family: $font-hncb, $font-stack;
    font-stretch: condensed;
  	color: $white;
  	border-bottom: 1px solid $white;
  	margin-left: 16px;
  	width: 330px;
  	margin-bottom: 0px;
    }
  h2{
  	font-size: 25px;
  	font-family: $font-hncb, $font-stack;
    font-stretch: condensed;
  	color: $white;
  	margin-left: 16px;
  	margin-top:0px;
  }
  .dwnArrow{
  	display: block;
  	width: 19px;
    height:19px;
  	margin:0 auto;
    padding-bottom:15px;
    background:$iphone_scroll_arrow;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
.page2 {
	background-color: grey;
	overflow: hidden;
	text-align: center;
	padding-top: 20px;
}
.page2{
  h1 {
  	display: block-inline;
  	font-family: "HelveticaNeue-Condensed", "HelveticaNeueCondensed", "HelveticaNeueBlackCondensed", "HelveticaNeue-Black-Condensed" $font-stack;
    font-size: 60px;
  	color: $white;
    margin-left: 6px;
    width: 75px;
    height: 57px;
    margin-top: 0px;
    padding-top:0;
    display: inline-block;
    border-right: 1px solid;
    font-stretch: condensed;
  }

  h2 {
  	font-family: "HelveticaNeue-Condensed", "HelveticaNeueCondensed", "HelveticaNeueBlackCondensed", "HelveticaNeue-Black-Condensed" $font-stack;
    font-size: 24px;
  	color: $white;
  	text-align: left;
  	padding: 0;
    margin-top: 0px;
    width: 150px;
    height: 50px;
    display: inline-block;
    text-align: left;
   }
   p {
   	color: $white;
   	display: inline-block;
   }
}

.page3 {
	background-color: $white;
	overflow: hidden;
	text-align: center;
	padding-top: 20px;

	h1 {
  	display: block-inline;
  	font-family: "HelveticaNeue-Condensed", "HelveticaNeueCondensed", "HelveticaNeueBlackCondensed", "HelveticaNeue-Black-Condensed" $font-stack;
    font-size: 60px;
  	color: #666666;
    margin-left: 60px;
    width: 50px;
    height: 57px;
    margin-top: 0px;
    padding-top:0;
    display: inline-block;
    border-right: 1px solid;
    font-stretch: condensed;
  }

  h2 {
  	font-family: "HelveticaNeue-Condensed", "HelveticaNeueCondensed", "HelveticaNeueBlackCondensed", "HelveticaNeue-Black-Condensed" $font-stack;
    font-size: 24px;
  	color: #666666;
  	text-align: left;
  	padding: 0;
    margin-top: 0px;
    width: 150px;
    height: 50px;
    margin-right:25px;
    display: inline-block;
    text-align: left;
   }
   p {
   	color: $orange;
   }

}
.page2, .page3 {
	.svg{
		display: inline-block;
		width: 150px;
		height: 150px;
		flex-direction: row-reverse;
	}
	svg {
   		width: 100px;
   		height: 100px;
   }
   .wireframes {
     /*margin-left: -150px;*/
   }
}

.page4 {
	background-color: $orange;
	vertical-align: bottom;
	h1{
		color: $white;
		float: left;
		margin-right: 14px;
		font-size: 47px;
	}
	h2{
		margin-left: 18px;
		margin-top: 53px;
		font-size: 24px;
		color: $white;
		float: left;
	}
	img {
		margin-top: 15px;
	}

}

// images
.lp_graphic {
  background: $iphone_lp_g 100% 100%;
  height: 365px;
  width: 295px;
}

/* iPhone Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .supported_orientation {
      display:none;
    }
    nav{
      .logo {
        background: $iphone_pk_logo2x;
        background-size: 100%;
      }
      .menu {
        background: $iphone_menu2x;
        background-size:100%;
      }
    }
    .page1 {
      .dwnArrow {
        background: $iphone_scroll_arrow2x;
        background-size:100%;
        background-repeat: no-repeat;
      }
    }
    .lp_graphic {
      height: 365px;
 		width:295px;
      background:$iphone_lp_g2x 100% 100%;
      background-size:100%;
    }
}
// placeholder for iPhone 6+
/* iPhone Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .supported_orientation {
      display: block;
    }
}

/* iPad Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* iPad Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Desktop Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Desktop Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
}
