/* Helvetica Neue (from https://gist.github.com/gpessia/8595729) */
.sample-animation {
  -webkit-animation: sample 5s ease-in-out forward;
  /* Safari 4+ */
  -moz-animation: sample 5s ease-in-out forward;
  /* Fx 5+ */
  -o-animation: sample 5s ease-in-out forward;
  /* Opera 12+ */
  animation: sample 5s ease-in-out forward;
  /* IE 10+, Fx 29+ */ }

body {
  width: 100%;
  margin: 0 auto; }

.mainContainer {
  width: 100%;
  overflow: hidden;
  margin: 0 auto; }

h1, h2, p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

svg {
  z-index: 0; }

nav {
  background-color: #ffffff;
  font-size: 24px;
  font-color: #a0a2a3;
  font-style: Helvetica Neue;
  height: 65px;
  vertical-align: middle; }
  nav .img {
    display: inline-block;
    vertical-align: middle; }
  nav .logo {
    margin-left: 16px;
    max-height: 46px;
    background: url(../img/iPhone/PKLogo.png);
    background-size: 100%;
    width: 46px;
    height: 46px;
    display: inline-block;
    margin-top: 10px; }
  nav .menu {
    display: inline-block;
    float: right; }
    nav .menu ul {
      color: #666666;
      font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      margin-top: 50px;
      background-color: #ffffff;
      padding-bottom: 10px;
      padding-right: 10px;
      border-bottom-left-radius: 5px; }
      nav .menu ul a, nav .menu ul a:visited {
        color: #666666;
        text-decoration: none; }
      nav .menu ul li {
        list-style: none;
        margin-left: -20px; }
    nav .menu .image {
      max-height: 21px;
      margin-right: 16px;
      float: right;
      background: url(../img/iPhone/Menu.png);
      background-size: 100%;
      width: 28px;
      height: 21px;
      display: inline-block;
      margin-top: 22px; }
  nav .fullMenu {
    display: none; }

#page1 {
  background-color: #f9941f;
  width: 100%; }
  #page1 h1 {
    font-size: 25px;
    font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-stretch: condensed;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-left: 16px;
    width: 330px;
    margin-bottom: 0px; }
  #page1 h2 {
    font-size: 25px;
    font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-stretch: condensed;
    color: #ffffff;
    margin-left: 16px;
    margin-top: 0px; }
  #page1 .dwnArrow {
    display: block;
    width: 19px;
    height: 19px;
    margin: 0 auto;
    padding-bottom: 15px;
    background: url(../img/iPhone/Scroll_Arrow.png);
    background-size: 100%;
    background-repeat: no-repeat; }

#page2 {
  background: url(../img/Web/UX_Background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

#page2 h1 {
  display: block-inline;
  font-family: "HelveticaNeueCondensed", "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "HelveticaNeueRomanCondensed", "HelveticaNeue-Roman-Condensed", "Helvetica Neue Roman Condensed", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  font-weight: 400;
  font-stretch: condensed;
  font-size: 47px;
  color: #ffffff;
  margin-left: 6px;
  width: 75px;
  height: 57px;
  margin-top: 0px;
  padding-top: 0;
  display: inline-block;
  border-right: 1px solid;
  font-stretch: condensed;
  font-weight: 400; }
#page2 h2 {
  font-family: "HelveticaNeueCondensed", "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "HelveticaNeueRomanCondensed", "HelveticaNeue-Roman-Condensed", "Helvetica Neue Roman Condensed", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  font-weight: 400;
  font-stretch: condensed;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  text-align: left;
  padding: 0;
  margin-top: 0px;
  width: 100px;
  height: 50px;
  display: inline-block;
  text-align: left;
  font-stretch: condensed;
  font-weight: 400;
  vertical-align: top; }
#page2 p {
  color: #ffffff;
  display: inline-block; }

#page3 {
  background-color: #ffffff;
  overflow: hidden;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }
  #page3 .title {
    width: 100%; }
  #page3 h1 {
    display: block-inline;
    font-family: "HelveticaNeueCondensed", "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "HelveticaNeueRomanCondensed", "HelveticaNeue-Roman-Condensed", "Helvetica Neue Roman Condensed", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: 400;
    font-stretch: condensed;
    font-size: 47px;
    color: #666666;
    margin-left: 6px;
    width: 50px;
    height: 57px;
    margin-top: 0px;
    padding-top: 0;
    display: inline-block;
    border-right: 1px solid;
    font-stretch: condensed;
    font-weight: 400; }
  #page3 h2 {
    font-family: "HelveticaNeueCondensed", "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "HelveticaNeueRomanCondensed", "HelveticaNeue-Roman-Condensed", "Helvetica Neue Roman Condensed", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: 400;
    font-stretch: condensed;
    font-weight: bold;
    font-size: 24px;
    color: #666666;
    text-align: left;
    padding: 0;
    margin-top: 0px;
    width: 100px;
    height: 50px;
    display: inline-block;
    text-align: left;
    font-stretch: condensed;
    font-weight: 400;
    vertical-align: top; }
  #page3 p {
    color: #f9941f; }
  #page3 .presen svg {
    margin-bottom: -15px; }

#page2 .svg, #page3 .svg {
  display: inline-block;
  width: 150px;
  height: 150px;
  flex-direction: row-reverse; }
  #page2 .svg div, #page3 .svg div {
    height: 100px; }
#page2 svg, #page3 svg {
  width: 100px;
  height: 100px; }
#page2 .wireframes, #page3 .wireframes {
  /*margin-left: -150px;*/ }

#page4 {
  background-color: #f9941f;
  vertical-align: bottom; }
  #page4 h1 {
    color: #ffffff;
    float: left;
    margin-right: 14px;
    font-size: 47px; }
  #page4 h2 {
    margin-left: 18px;
    margin-top: 53px;
    font-size: 24px;
    color: #ffffff;
    float: left; }
  #page4 .venn {
    background: url(../img/iPhone/VennDiagram.png);
    background-size: 100%;
    width: 68px;
    height: 68px;
    display: inline-block;
    margin-top: 15px; }

.lp_graphic {
  background: url(../img/iPhone/LP_Graphic.png) 100% 100%;
  height: 365px;
  width: 295px; }

#page2 .svg div svg[state=play], #page3 .svg div svg[state=play] {
  z-index: 1;
  -webkit-animation: grow 1s linear forwards;
  /* Safari 4+ */
  -moz-animation: grow 1s linear forwards;
  /* Fx 5+ */
  -o-animation: grow 1s linear forwards;
  /* Opera 12+ */
  animation: grow 1s linear forwards;
  /* IE 10+, Fx 29+ */ }

#page2 .svg div svg #icon[state=play], #page3 .svg div svg #icon[state=play] {
  transform-origin: center top;
  -webkit-animation: shrink 1s linear forwards;
  /* Safari 4+ */
  -moz-animation: shrink 1s linear forwards;
  /* Fx 5+ */
  -o-animation: shrink 1s linear forwards;
  /* Opera 12+ */
  animation: shrink 1s linear forwards;
  /* IE 10+, Fx 29+ */ }

#page2 .svg div svg #shadow[state=play], #page3 .svg div svg #shadow[state=play] {
  -webkit-animation: fade 1s linear forwards;
  /* Safari 4+ */
  -moz-animation: fade 1s linear forwards;
  /* Fx 5+ */
  -o-animation: fade 1s linear forwards;
  /* Opera 12+ */
  animation: fade 1s linear forwards;
  /* IE 10+, Fx 29+ */ }

@keyframes move {
  to {
    padding-left: 50px; } }
@keyframes grow {
  to {
    transform: scale(10, 10);
    padding: 110px 120px; } }
@keyframes shrink {
  to {
    transform: scale(0.25, 0.25) translateY(-300px); } }
@keyframes fade {
  to {
    opacity: 0; } }
/* iPhone Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .supported_orientation {
    display: none; }

  nav .logo {
    background: url(../img/iPhone/PKLogo@2x.png);
    background-size: 100%; }
  nav .menu .image {
    background: url(../img/iPhone/Menu@2x.png);
    background-size: 100%; }

  #page1 .dwnArrow {
    background: url(../img/iPhone/Scroll_Arrow@2x.png);
    background-size: 100%;
    background-repeat: no-repeat; }

  .lp_graphic {
    height: 365px;
    width: 295px;
    background: url(../img/iPhone/LP_Graphic@2x.png) 100% 100%;
    background-size: 100%; }

  .svg div {
    min-height: 100px; } }
/* iPhone Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .supported_orientation {
    display: block; } }
/* iPad Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  nav .menu {
    display: none; }
  nav .fullMenu {
    display: inline-block;
    margin-top: 18px;
    position: absolute; }
    nav .fullMenu ul li {
      display: inline-block;
      margin: 0 1em;
      color: #a0a2a3;
      font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
      font-weight: 300;
      font-stretch: normal;
      font-size: 20px; }
      nav .fullMenu ul li a, nav .fullMenu ul li a:active, nav .fullMenu ul li a:visited {
        color: #a0a2a3;
        text-decoration: none; } }
/* iPad Landscape */
/* ----------- Desktop Non-Retina Screens ----------- */
/* ----------- Desktop Retina Screens ----------- */

/*# sourceMappingURL=style.css.map */
