// Global css written in sass.
// from cmd line run from css directory
// sass --watch style.scss:style.css
//
// or for manual compliles
// sass style.scss style.css

@import 'assets';
@import 'fonts';


// SCSS variables
$font-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-hncb: "HelveticaNeue-CondensedBold";
$white: #ffffff;
$orange: #f9941f;

@mixin fullscreen($img) {
  background: $img no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*{
  font-family: 'Source Sans Pro', sans-serif;
}

.open {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 0%;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
.close {
  transform: matrix3d(1, 0, 0, 0, 0, 0, 1, 0.001, 0, -1, 0, 0, 0, 0, 0, 1);
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0, 1, 0.001, 0, -1, 0, 0, 0, 0, 0, 1);
  transform-origin: 50% 0%;
  transition: all 0.3s ease 0.3s;
  -webkit-transition: all 0.3s ease 0.3s;
}

body{
	width: 100vw;
	margin: 0;
}
.mainContainer {
	width: 100vw;
	overflow: hidden;
	margin: 0;
  overflow-x: hidden;
}

.pagination{
  position: fixed;
  top: 50%;
  left: 97%;
  div{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: solid;
    border-width: 0px;
    margin-top: 7px;
  }
  .current{
    margin-left: -1px;
    border-width: 1px;
    background-color: transparent;
  }
}
.p1, .p4{
  div{
    background-color: #d07814;
    border-color: white;
  }
}
.p2, .p3{
  div{
    background-color: $orange;
  }
}
.p5{
  div{
    background-color: #929292;
  }
}
.p2{
  div{
    border-color: $white;
  }
}
.p3{
  div{
    border-color: #aeaeae;
  }
}
.p5{
  div{
    border-color: #929292;
  }
}

.shade{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: .5;
  z-index: 1;
  display: none;
}
h1, h2, p{
	@include helvetica-neue-medium-condensed;
}

nav {
	background-color: $white;
	font-size: 24px;
	font-color: #a0a2a3;
	@include helvetica-neue-light();
	height: 65px;
	vertical-align: middle;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  .logo {
  	margin-left: 16px;
    background: $iphone_pk_logo;
    background-size: 100%;
    width:46px;
    position: absolute;
    height:46px;
    display:inline-block;
    margin-top:10px;
  }
  .menu{
  	display: inline-block;
    margin-left: 40px;
  	ul{
  		color: #666666;
  		@include helvetica-neue-light();
  		a, a:visited{
  			color: #a0a2a3;
        @include helvetica-neue-light;
  			text-decoration: none;
  		}
  		li{
  			list-style: none;
        //display: inline-block;
  		}
  	}
  }
  .fullMenu {
    display:none;
  }
}
#page1 {
	background-color: $orange;
	width: 100%;
   h1{
  	font-size: 25px;
  	@include helvetica-neue-bold-condensed();
  	color: $white;
  	border-bottom: 1px solid $white;
  	margin-left: 16px;
  	width: 330px;
  	margin-bottom: 0px;
    }
  h2{
  	font-size: 25px;
  	@include helvetica-neue-bold-condensed();
  	color: $white;
  	margin-left: 16px;
  	margin-top:0px;
  }
  .dwnArrow{
  	display: block;
  	width: 19px;
    height:19px;
  	margin:0 auto;
    padding-bottom:15px;
    background:$iphone_scroll_arrow2x;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

#page2 {
  	@include fullscreen($Web_ux_back);
	overflow: hidden;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
#page2{
  h1 {
  	display: block-inline;
  	@include helvetica-neue-regular-condensed();
    font-size: 47px;
  	color: $white;
    margin-left: 6px;
    width: 75px;
    height: 57px;
    margin-top: 0px;
    padding-top:0;
    display: inline-block;
    border-right: 1px solid;
    font-stretch: condensed;
    font-weight:400;
  }

  h2 {
    @include helvetica-neue-regular-condensed();
    font-weight: bold;
    font-size: 24px;
  	color: $white;
  	text-align: left;
  	padding: 0;
    margin-top: 0px;
    width: 100px;
    height: 50px;
    display: inline-block;
    text-align: left;
    font-stretch: condensed;
    font-weight:400;
    vertical-align:top;
   }
   p {
   	color: $white;
   	display: inline-block;
   }
}

#page3 {
	background-color: $white;
	overflow: hidden;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

  header{
  	width: 100%;
  }

  h1 {
  	display: block-inline;
  	@include helvetica-neue-regular-condensed();
    font-size: 47px;
  	color: #666666;
    margin-left: 6px;
    width: 50px;
    height: 57px;
    margin-top: 0px;
    padding-top:0;
    display: inline-block;
    border-right: 1px solid;
    font-stretch: condensed;
    font-weight:400;
  }

  h2 {
    @include helvetica-neue-regular-condensed();
    font-weight: bold;
    font-size: 24px;
  	color: #666666;
  	text-align: left;
  	padding: 0;
    margin-top: 0px;
    width: 100px;
    height: 50px;
    display: inline-block;
    text-align: left;
    font-stretch: condensed;
    font-weight:400;
    vertical-align:top;
   }
   p {
   	color: $orange;
   }
}
#page2, #page3 {
  padding-bottom: 60px;
	.svg{
		display: inline-block;
		width: 100px;
		height: 100px;
		flex-direction: row-reverse;
    div{
      width: 100px;
      height: 100px;
    }
	}
	svg {
      //vertical-align: top;
   		width: 100px;
   		height: 100px;
      display: inline-block;
   }
   .article1, .article2 {
      position: absolute;
      margin: 35px auto 0 auto;
      z-index: 3;
      width: 100%;
      text-align: center;
      p {
        color: $white;
        margin-top: 11px;
        margin-left: auto;
        margin-right: auto;
        width: 90%
      }
      h1 {
        color: $white;
        border: none;
        font-size: 30px;
        width: 100%;
        margin: 0;
        height: auto;
      }
   }
}

#page4 {
	background-color: $orange;
	text-align: center;
	padding-bottom: 50px;
	header{
		width: 100%;
    text-align: center;
    @include helvetica-neue-bold-condensed();
  	h1{
  		color: $white;
      display: inline-block;
  		font-size: 47px;
  	}
  	h2{
  		margin-top: 53px;
      display: inline-block;
  		font-size: 24px;
  		color: $white;
  	}
  	.venn {
      background: $iphone_venn_diag2x;
      background-size:100%;
      width:68px;
      height:68px;
      display:inline-block;
  		margin-top: 15px;
  	}
  }
	.slider{
		margin-top: 40px;
		.leftButt{
			background: $iphone_arrow_left;
			background-size: 100%;
			width: 14px;
			height: 10px;
			display: inline-block;
			margin-right: 30px;
			margin-bottom: 20px;
		}
		.rightButt{
			background: $iphone_arrow_right;
			background-size: 100%;
			width: 14px;
			height: 10px;
			display: inline-block;
			margin-left: 30px;
			margin-bottom: 20px;
		}
		.pixPerf{
			background-image: $iphone_pix_perf;
		}
    .pixPerf:before{
      content: "UI pixel perfection";
    }
		.final{
			background-image: $iphone_final_graphics;
		}
    .final:before{
      content: "final graphics & assets";
    }
		.design{
			background-image: $iphone_design_comps;
		}
    .design:before{
      content: "design comps";
    }
		.sol{
			background-image: $iphone_sol_arch;
		}
    .sol:before{
      content: "solution architecture";
    }
		.ux{
			background-image: $iphone_user_exp;
		}
    .ux:before{
      content: "user experience";
    }
		.us{
			background-image: $iphone_user_stories;
		}
    .us:before{
      content: "user stories";
    }
		.projectSpecs{
			background-image: $iphone_proj_specs;
		}
    .projectSpecs:before{
      content: "project specs & requirments";
    }
		.pixPerf, .final, .design, .sol, .ux, .us, .projectSpecs {
			background-size: 100%;
			width: 52px;
			height: 52px;
			display: inline-block;
		}
    .pixPerf:before, .final:before, .design:before, .sol:before, .ux:before, .us:before, .projectSpecs:before{
      @include helvetica-neue-medium-condensed;
      font-size: 15pt;
      color: $white;
      display: inline-block;
      margin-top: 50px;
      position: absolute;
      margin-top: 60px;
      margin-left: -45px;
      width: 90px;
    }
	}
	.circle {
		width: 285px;
		height: 285px;
		margin-top: 70px;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		border: solid $white;
		border-width:2px;
		display: inline-block;
    .circ {
      width: 7px;
      height: 7px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: $white;
      border-color: $white;
      margin: auto;
    }
    .num1, .num2, .num3, .num4, .num5, .num6, .num7 {
      width: 17px;
      height: 17px;
      text-align: center;
      position: absolute;
    }
    .num1 {
      margin-left: 135px;
      margin-top: -5px;
    }
    .num2 {
      margin-left: 240px;
      margin-top: 43px;
    }
    .num3 {
      margin-left: 275px;
      margin-top: 165px;
    }
    .num4 {
      margin-left: 218px;
      margin-top: 255px;
    }
    .num5 {
      margin-left: 50px;
      margin-top: 255px;
    }
    .num6 {
      margin-top: 165px;
      margin-left: -7px;
    }
    .num7 {
      margin-top: 51px;
      margin-left: 20px;
    }
		h1{
			font-size: 30pt;
			display: inline-block;
      color: $white;
      @include helvetica-neue-bold-condensed();
			margin-top: 45px;
			margin-right: -20px;
		}
		h2{
			font-size: 18pt;
      margin-left: 15px;
      color: $white;
      @include helvetica-neue-light-condensed();
			display: inline-block;
		}
		.suits{
			background: $iphone_client_icon2x;
			background-size: 100%;
			width: 75px;
			height: 93px;
			margin: 75px auto 0 auto;
		}
		.ci{
			margin-top: -40px;
			display: inline-block;
		}
	}
}

#page5{
  background-color: #ebebeb;
  text-align: center;
  header{
    color: #929292;
    padding-top: 20px;
    @include helvetica-neue-medium-condensed();
    h2{
      display: inline-block;
      font-size: 24pt;
      margin: 0;
    }
    h1{
      display: inline-block;
      font-size: 47pt;
      margin: 0;
    }
  }
  .x3{
    background-image: $iphone_orange_x2x;
    background-size: 100%;
    width: 14px;
    height: 14px;
    position: absolute;
    display: inline-block;
    z-index: 4;
    margin-left: 280px
  }
  .boxes{
    margin-top: 20px;
    z-index: 0;
    .cont{
      margin: 18px;
      display: inline-block
    }
    .pu{
      background-color: $white;
      width: 284px;
      height: 190px;
      display: inline-block;
      border: solid;
      border-color: #cccccc;
      border-width: 1px;
    }
  }
}

footer{
  background-image: url(http://33.media.tumblr.com/bd196f5ebb0350be951d377c6f33d6df/tumblr_nrht0ikx6b1uv0y2ro1_250.gif);
  background-size: 100%;
  text-align: center;
  margin: 0;
  ul{
    background-size: 100%;
    padding: 40px 0;
    margin: 0;
    color: #ebebeb;
    font-size: 20pt;
    @include helvetica-neue-light;
    a, a:visited{
      color: #ebebeb;
      @include helvetica-neue-light;
      font-size: 20pt;
      text-decoration: none;
    }
    li{
      list-style: none;
      display: inline-block;
    }
  }
  .prokarma{
  }
}

div[state=small]{
  position: static;
}
div[state=bigAF]{
  position: relative;
  z-index: 1;
}

// images
.lp_graphic {
  background: $iphone_lp_g2x;
  height: 365px;
  width: 295px;
  background-size: 100%;
  margin-left: 10%;
}
.x:not(.x3) {
	background: $iphone_white_x2x;
  background-size: 100%;
	height: 14px;
	width: 14px;
	margin-top: -90px;
	margin-left: 282px;
	z-index: 2;
	position: absolute;
}

/* iPhone Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .supported_orientation {
      display:none;
    }
    nav{
      .logo {
        background: $iphone_pk_logo2x;
        background-size: 100%;
      }
      .menu {
        float: right;
        .image{
          max-height: 21px;
          margin-right: 16px;
          float: right;
          background: $iphone_menu;
          background-size:100%;
          width:28px;
          height:21px;
          display:inline-block;
          margin-top:22px;
        }
        ul {
          margin-top: 50px;
          background-color: $white;
          padding-bottom: 10px;
          padding-right: 10px;
          border-bottom-left-radius: 5px;
          display: block;
        }
        li {
          margin-left: -20px;
          display: block;
        }
      }
    }
    #page1 {
      .dwnArrow {
        background: $iphone_scroll_arrow2x;
        background-size:100%;
        background-repeat: no-repeat;
      }
    }
    #page1, #page2, #page3, #page4{
      article{
        display: none;
      }
    }
    .lp_graphic {
      height: 365px;
 		  width:295px;
      background:$iphone_lp_g2x 100% 100%;
      background-size:100%;
      margin: 0;
    }
    .svg {
      div{
        width: 100px;
        height: 100px;
      }
      margin-left: 20px;
      margin-right: 20px;
    }
}

// placeholder for iPhone 6+
/* iPhone Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .supported_orientation {
      display: block;
    }
}

/* iPad Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    nav{
      height: 108px;
      .logo{
        margin-top: 15px;
        margin-left: 52px;
        width: 83px;
        height: 83px;
        background-image: $iPad_pk_logo2x;
      }
      .menu{
        margin-left: 120px;
        margin-top: 20px;
        ul{
          li{
            display: inline-block;
            font-size: 24px;
          }
        }
      }
    }
    #page1{
      header{
        margin-left: 20px;
      }
      h1{
        font-size: 52px;
        width: 560px;
        margin: 0;
      }
      h2{
        font-size: 52px;
        margin: 0;
      }
      .lp_graphic {
        background-image: $iPad_port_lp_g2x 100% 100%;
        height: 645px;
        width: 521px;
      }
      article{
        display: block;
        color: $white;
        margin-left: 20px;
        p{
          font-size:21pt;
          @include helvetica-neue-light();
        }
        a{
          font-size: 20pt;
          @include helvetica-neue-bold();
          border: solid;
          border-color: $white;
          border-radius: 2px;
          border-width: 1px;
          padding: 7px;
        }
      }
      .dwnArrow{
        padding-bottom: 26px;
      }
    }
    #page2, #page3{
      .x{
        background-image: $iPad_white_x2x;
        background-size: 100%;
        width: 24px;
        height: 24px;
        margin-left: 475px;
        margin-top: -175px;
      }
      header{
        margin-top: 32px;
        h1{
          font-size: 52pt;
          padding-right: 10px;
          padding-bottom: 15px;
        }
        h2{
          margin-top: 10px;
        }
      }
      .article1, .article2{
        margin-top: -120px;
        width: 100%;
        h1{
          font-size: 30px;
        }
        p{
          font-size: 18pt;
          width: 600px;
        }
      }
      article{
        font-size: 24pt;
        margin: 0 50px;
        text-align: left;
      }
      .svg {
        width: 135px;
        height: 135px;
        svg{
        width: 135px;
        height: 135px;
        }
        div{
        width: 135px;
        height: 135px;
        }
      }
      section.svgs{
        margin: 84px 34px 0 34px;
        padding-bottom: 40px;
        .proto, .desktop{
          margin: 0 80px;
        }
        .eval, .usability, .custom, .presen{
          margin-top: 94px;
          margin-right: 40px;
          margin-left: 40px;
        }
      }
    }
    #page2{
      article{
        color: $white;
      }
    }
    #page3{
      article{
        color: #666666;
      }
    }
    #page4{
      header{
        h1{
          font-size: 80px;
        }
        h2{
          font-size: 42px;
        }
        .venn{
          background-image: $iPad_venn_diag2x;
          background-size: 100%;
          width: 85px;
          height: 78px;
          margin-left: 10px;
          margin-bottom: -10px;
        }
      }
      .slider{
        margin-top: 0px;
        .pixPerf:before, .final:before, .design:before, .sol:before, .ux:before, .us:before, .projectSpecs:before{
          font-size: 20pt;
        }
        .rightButt, .leftButt{
          margin-bottom: 0;
          background-size: 100%;
          background-repeat: none;
        }
        .rightButt{
          background-image: $iPad_arrow_right2x;
          height: 19px;
          width: 26px;
          margin-left: 100px;
        }
        .leftButt{
          background-image: $iPad_arrow_left2x;
          height: 19px;
          width: 26px;
          margin-right: 100px;
        }
      }
      .circle{
        width: 364px;
        height: 364px;
        margin: 130px 50px 0 50px;
        .circ{
          width: 9px;
          height: 9px;
        }
        .num1{
          margin-left: 175px;
        }
        .num2{
          margin-left: 320px;
          margin-top: 69px;
        }
        .num3{
          margin-left: 344px;
          margin-top: 244px;
        }
        .num4{
          margin-left: 257px;
          margin-top: 341px;
        }
        .num5{
          margin-top: 341px;
          margin-left: 89px;
        }
        .num6{
          margin-top: 244px;
          margin-left: 2px;
        }
        .num7{
          margin-top: 69px;
          margin-left: 27px;
        }
        .suits{
          margin-top: 105px;
          background: $iPad_client_icon2x;
          background-size: 100%;
          width: 55px;
          height: 70px;
        }
      }
      article{
        margin-top: 41px;
        @include helvetica-neue-thin();
        font-size: 21pt;
        color: $white;
        margin: 0 50px;
        text-align: left;
      }
    }
    p{
      color: $white;
    }
    #page5{
      .x3{
        background-image: $iPad_orange_x2x;
        height: 24px;
        width: 25px;
        background-size: 100%;
        margin-left: 720px;
      }
      .boxes{
        .cont{
          width: 325px;
          height: 215;
          margin: 16px;
          display: inline-block;
        }
        .pu{
          width: 325px;
          height: 215px;
        }
      }
    }
}

/* iPad Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    #page1 {
      .lp_graphic{
        background-image: $iPad_land_lp_g2x;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 521px;
        height: 645px;
        position: absolute;
        right: 50px;
        top: 125px;
        display: inline-block;
        margin-left: 0;
      }
      header {
        margin-top: 125px;
        font-size: 52px;
        display: inline-block;
        margin-left: 52px;
        width: 50%;
      }
      article {
        margin-left: 52px;
        width: 50%;
        padding-bottom: 300px;
        p{
          font-size: 15pt;
        }
      }
    }
    #page2, #page3{
      height: 688px;
      .x{
        margin-left: 634px;
        margin-top: -260px;
      }
      .article1, .article2{
        margin-top: -150px;
        p{
          width: 560px;
          margin: 30px auto;
        }
      }
      section.svgs{
        .svg{
          width: 122px;
          height: 122px;
          margin: 20px;
          div{
            height: 122px;
            width: 122px;
          }
          svg {
            width: 122px;
            height: 122px;
          }
        }
      }
    }
    #page4{
      .slider{
        display: inline-block;
      }
      .circle{
        margin-top: 0;
      }
    }
    #page5{
      .boxes{
        .cont{
          width: 290px;
          height: 193px;
          margin: 16px;
          .pu{
            width: 290px;
            height: 193px;
          }
        }
      }
    }
}

/* ----------- Desktop Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1025px)
  and (max-device-width: 16000px) {
    .pagination{
      div{
        width: 14px;
        height: 14px;
      }
    }
    nav{
      height: 144px;
      .logo{
        margin-top: 15px;
        margin-left: 52px;
        width: 111px;
        height: 111px;
        background-image: $Web_pk_logo;
      }
      .menu{
        margin-left: 139px;
        margin-top: 33px;
        ul{
          li{
            display: inline-block;
            font-size: 24px;
          }
        }
      }
    }
    #page1 {
      .lp_graphic{
        background-image: $Web_lp_g;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 521px;
        height: 645px;
        float: right;
        margin-right: 100px;
        margin-top: 30px;
        display: inline-block;
        margin-left: 0;
      }
      header {
        margin-top: 160px;
        width: 300px;
        font-size: 52px;
        display: inline-block;
        margin-left: 75px;
        h1, h2{
          font-size: 50pt;
          width: 706px;
          margin: 0;
        }
      }
      article {
        margin-left: 75px;
        width: 50%;
        padding-bottom: 150px;
        width: 706px;
        p{
          font-size: 24pt;
          color: $white;
        }
        a{
          @include helvetica-neue-bold-condensed();
          color: $white;
          font-size: 16pt;
          padding: 9px;
          border: solid;
          border-width: 1px;
          border-radius: 2px;
        }
      }
    }
    #page2, #page3{
      height: 1000px;
      p{
        font-size: 24pt;
      }
      header{
        margin-top: 100px;
        h1{
          font-size: 84px;
          width: auto;
          height: 84px;
        }
        h2{
          font-size:44px;
          height: 44px;
          line-height: 44px;
          margin-bottom: 10px;
        }
      }
      .x{
        background-image: $iPad_white_x2x;
        background-size: 100%;
        width: 24px;
        height: 24px;
        margin-left: 762px;
        margin-top: -466px;
      }
      article{
        margin: 80px;
        font-size: 24pt;
        text-align: left;
      }
      .article1, .article2{
        width: 100%;
        margin-top: -340px;
        text-align: center;
        p{
          width: 576px;
        }

      }
      section.svgs{
        .svg{
          width: 142px;
          height: 142px;
          margin: 24px;
          div{
            width: 142px;
            height: 142px;
          }
          p{
            font-size: 22pt;
          }
          svg {
            width: 142px;
            height: 142px;
          }
        }
      }
    }
    #page4{
      header{
        h2{
          font-size: 42px;
        }
        h1{
          font-size:72px;
          margin-right: 22px;
        }
      }
      .slider{
        display: inline-block;
        float: left;
        margin-left: 230px;
        margin-top: 147px;
        .rightButt{
          margin-left: 120px;
          background-image: $Web_arrow_right;
          background-size: 100%;
          width: 31px;
          height: 22px;
        }
        #image{
          width: 62px;
          height: 62px;
        }
        .leftButt{
          margin-right: 120px;
          background-image: $Web_arrow_left;
          background-size: 100%;
          width: 31px;
          height: 22px;
        }
      }
      .circle{
        margin-left:50px;
        margin-top: 0;
        width: 424px;
        height: 424px;
        .suits{
          margin-top: 133px;
        }
        .circ{
          width: 12px;
          height: 12px;
        }
        .num1{
          margin-top: -7px;
          margin-left: 201px;
        }
        .num2{
          margin-left: 357px;
          margin-top: 59px;
        }
        .num3{
          margin-left: 415px;
          margin-top: 233px;
        }
        .num4{
          margin-left: 325px;
          margin-top: 381px
        }
        .num5{
          margin-left: 82px;
          margin-top: 381px;
        }
        .num6{
          margin-left: -8px;
          margin-top: 233px;
        }
        .num7{
          margin-left: 49px;
          margin-top: 59px;
        }
      }
      article{
        width: 980px;
        text-align: left;
        margin-top: 100px;
        margin-left: 78px;
        p{
          @include helvetica-neue-thin;
          font-size: 24pt;
          color: $white;
        }
      }
    }
    #page5{
      .boxes{
        width: 1000px;
        margin: 0 auto;
        .cont{
          width: 290px;
          height: 193px;
          margin: 16px;
          .pu{
            width: 290px;
            height: 193px;
          }
        }
      }
    }

}

/* ----------- Desktop Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
}
