// Global css written in sass.
// from cmd line run from css directory
// sass --watch style.scss:style.css
//
// or for manual compliles
// sass style.scss style.css

@import 'assets';
@import 'fonts';


// SCSS variables
$font-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-hncb: "HelveticaNeue-CondensedBold";
$white: #ffffff;
$orange: #f9941f;

@mixin fullscreen($img) {
  background: $img no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin animation($name, $duration, $timing, $direction) {
  -webkit-animation: $name $duration $timing $direction; /* Safari 4+ */
  -moz-animation:    $name $duration $timing $direction; /* Fx 5+ */
  -o-animation:      $name $duration $timing $direction; /* Opera 12+ */
  animation:         $name $duration $timing $direction; /* IE 10+, Fx 29+ */
}
.sample-animation {
  @include animation(sample, 5s, ease-in-out, forward);
}

body{
	width: 100%;
	margin: 0 auto;
}
.mainContainer {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}

h1, h2, p{
	@include helvetica-neue-medium-condensed;
}

nav {
	background-color: $white;
	font-size: 24px;
	font-color: #a0a2a3;
	font-style: Helvetica Neue;
	height: 65px;
	vertical-align: middle;

  .img {
  	display: inline-block;
  	vertical-align: middle;
  }
  .logo {
  	margin-left: 16px;
  	max-height: 46px;
    background: $iphone_pk_logo;
    background-size: 100%;
    width:46px;
    height:46px;
    display:inline-block;
    margin-top:10px;
  }
  .menu{
  	display: inline-block;
  	float: right;
  	ul{
  		color: #666666;
  		font-family: $font-hncb, $font-stack;
  		margin-top: 50px;
  		background-color: $white;
  		padding-bottom: 10px;
  		padding-right: 10px;
  		border-bottom-left-radius: 5px;
  		a, a:visited{
  			color: #666666;
  			text-decoration: none;
  		}
  		li{
  			list-style: none;
  			margin-left: -20px;
  		}
  	}
  	.image{
	  	max-height: 21px;
	  	margin-right: 16px;
	  	float: right;
	    background: $iphone_menu;
	    background-size:100%;
	    width:28px;
	    height:21px;
	    display:inline-block;
	    margin-top:22px;
	   }
  }
  .fullMenu {
    display:none;
  }
}
#page1 {
	background-color: $orange;
	width: 100%;

   h1{
  	font-size: 25px;
  	font-family: $font-hncb, $font-stack;
    font-stretch: condensed;
  	color: $white;
  	border-bottom: 1px solid $white;
  	margin-left: 16px;
  	width: 330px;
  	margin-bottom: 0px;
    }
  h2{
  	font-size: 25px;
  	font-family: $font-hncb, $font-stack;
    font-stretch: condensed;
  	color: $white;
  	margin-left: 16px;
  	margin-top:0px;
  }
  .dwnArrow{
  	display: block;
  	width: 19px;
    height:19px;
  	margin:0 auto;
    padding-bottom:15px;
    background:$iphone_scroll_arrow;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

#page2 {
  	@include fullscreen($Web_ux_back);
	overflow: hidden;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
#page2{
  h1 {
  	display: block-inline;
  	@include helvetica-neue-regular-condensed();
    font-size: 47px;
  	color: $white;
    margin-left: 6px;
    width: 75px;
    height: 57px;
    margin-top: 0px;
    padding-top:0;
    display: inline-block;
    border-right: 1px solid;
    font-stretch: condensed;
    font-weight:400;
  }

  h2 {
    @include helvetica-neue-regular-condensed();
    font-weight: bold;
    font-size: 24px;
  	color: $white;
  	text-align: left;
  	padding: 0;
    margin-top: 0px;
    width: 100px;
    height: 50px;
    display: inline-block;
    text-align: left;
    font-stretch: condensed;
    font-weight:400;
    vertical-align:top;
   }
   p {
   	color: $white;
   	display: inline-block;
   }
}

#page3 {
	background-color: $white;
	overflow: hidden;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

  .title{
  	width: 100%;
  }

  h1 {
  	display: block-inline;
  	@include helvetica-neue-regular-condensed();
    font-size: 47px;
  	color: #666666;
    margin-left: 6px;
    width: 50px;
    height: 57px;
    margin-top: 0px;
    padding-top:0;
    display: inline-block;
    border-right: 1px solid;
    font-stretch: condensed;
    font-weight:400;
  }

  h2 {
    @include helvetica-neue-regular-condensed();
    font-weight: bold;
    font-size: 24px;
  	color: #666666;
  	text-align: left;
  	padding: 0;
    margin-top: 0px;
    width: 100px;
    height: 50px;
    display: inline-block;
    text-align: left;
    font-stretch: condensed;
    font-weight:400;
    vertical-align:top;
   }
   p {
   	color: $orange;
   }
}
#page2, #page3 {
	.svg{
		display: inline-block;
		width: 150px;
		height: 150px;
		flex-direction: row-reverse;
	}
	svg {
   		width: 100px;
   		height: 100px;
      display: inline-block;
   }
   article {
      position: absolute;
      z-index: 3;
      width: 100%;
      text-align: center;
   }
}

#page4 {
	background-color: $orange;
	text-align: center;
	padding-bottom: 50px;
	.heading{
		width: 100%;
	}
	h1{
		color: $white;
		float: left;
		margin-right: 14px;
		font-size: 47px;
	}
	h2{
		margin-left: 18px;
		margin-top: 53px;
		font-size: 24px;
		color: $white;
		float: left;
	}
	.venn {
    background: $iphone_venn_diag;
    background-size:100%;
    width:68px;
    height:68px;
    display:inline-block;
		margin-top: 15px;
	}
	.slider{
		margin-top: 40px;
		.leftButt{
			background: $iphone_arrow_left;
			background-size: 100%;
			width: 14px;
			height: 10px;
			display: inline-block;
			margin-right: 30px;
			margin-bottom: 20px;
		}
		.rightButt{
			background: $iphone_arrow_right;
			background-size: 100%;
			width: 14px;
			height: 10px;
			display: inline-block;
			margin-left: 30px;
			margin-bottom: 20px;
		}
		.pixPerf{
			background-image: $iphone_pix_perf;
		}
    .pixPerf:before{
      content: "UI pixel perfection";
    }
		.final{
			background-image: $iphone_final_graphics;
		}
    .final:before{
      content: "final graphics & assets";
    }
		.design{
			background-image: $iphone_design_comps;
		}
    .design:before{
      content: "design comps";
    }
		.sol{
			background-image: $iphone_sol_arch;
		}
    .sol:before{
      content: "solution architecture";
    }
		.ux{
			background-image: $iphone_user_exp;
		}
    .ux:before{
      content: "user experience";
    }
		.us{
			background-image: $iphone_user_stories;
		}
    .us:before{
      content: "user stories";
    }
		.projectSpecs{
			background-image: $iphone_proj_specs;
		}
    .projectSpecs:before{
      content: "project specs & requirments";
    }
		.pixPerf, .final, .design, .sol, .ux, .us, .projectSpecs {
			background-size: 100%;
			width: 52px;
			height: 52px;
			display: inline-block;
		}
    .pixPerf:before, .final:before, .design:before, .sol:before, .ux:before, .us:before, .projectSpecs:before{
      @include helvetica-neue-medium-condensed;
      color: $white;
      display: inline-block;
      margin-top: 50px;
      position: absolute;
      margin-top: 60px;
      margin-left: -45px;
      width: 90px;
    }
	}
	.circle {
		width: 285px;
		height: 285px;
		margin-top: 70px;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		border: solid $white;
		border-width:2px;
		display: inline-block;
    .circ {
      width: 7px;
      height: 7px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: $white;
      border-color: $white;
      margin: auto;
    }
    .num1, .num2, .num3, .num4, .num5, .num6, .num7 {
      width: 17px;
      height: 17px;
      text-align: center;
      position: absolute;
    }
    .num1 {
      margin-left: 135px;
      margin-top: -5px;
    }
    .num2 {
      margin-left: 240px;
      margin-top: 43px;
    }
    .num3 {
      margin-left: 275px;
      margin-top: 165px;
    }
    .num4 {
      margin-left: 218px;
      margin-top: 255px;
    }
    .num5 {
      margin-left: 50px;
      margin-top: 255px;
    }
    .num6 {
      margin-top: 165px;
      margin-left: -7px;
    }
    .num7 {
      margin-top: 51px;
      margin-left: 20px;
    }
		h1{
			font-size: 36;
			display: inline-block;
      @include helvetica-neue-bold-condensed();
			margin-top: 45px;
			margin-right: -20px;
		}
		h2{
			font-size: 24;
      @include helvetica-neue-light-condensed();
			display: inline-block;
		}
		.suits{
			background: $iphone_client_icon;
			background-size: 100%;
			width: 75px;
			height: 93px;
			margin: 75px auto 0 auto;
		}
		.ci{
			margin-top: -40px;
			display: inline-block;
		}
	}
}

div[state=small]{
  position: static;
}
div[state=bigAF]{
  position: relative;
  z-index: 1;
}

// images
.lp_graphic {
  background: $iphone_lp_g 100% 100%;
  height: 365px;
  width: 295px;
}
.x {
	background: $iphone_white_x 100% 100%;
	height: 14px;
	width: 14px;
	margin-top: -90px;
	margin-left: 282px;
	z-index: 2;
	position: absolute;
}

/* iPhone Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .supported_orientation {
      display:none;
    }
    nav{
      .logo {
        background: $iphone_pk_logo2x;
        background-size: 100%;
      }
      .menu {
      	.image{
	        background: $iphone_menu2x;
	        background-size:100%;
	    }
      }
    }
    #page1 {
      .dwnArrow {
        background: $iphone_scroll_arrow2x;
        background-size:100%;
        background-repeat: no-repeat;
      }
    }
    .lp_graphic {
      height: 365px;
 		width:295px;
      background:$iphone_lp_g2x 100% 100%;
      background-size:100%;
    }
    .svg {
      div {
        min-height:100px;
      }
    }
}

// placeholder for iPhone 6+
/* iPhone Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .supported_orientation {
      display: block;
    }
}

/* iPad Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    nav {
      .menu {
        display:none;
      }
      .fullMenu {
        display:inline-block;
        margin-top: 18px;
        position: absolute;
          ul {
            li {
              display:inline-block;
              margin:0 1em;
              color: #a0a2a3;
              @include helvetica-neue-light();
              font-size: 20px;
              a, a:active, a:visited {
                color: #a0a2a3;
                text-decoration: none;
              }
            }
          }
      }
    }
}

/* iPad Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Desktop Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Desktop Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
}
